// ============================================= 
//             Color Variables                          
// =============================================

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$color-error: #e4757a;
$color-info:#927bc1;
$color-success:#63cc82;
$color-warning:#fd7856;

$color-white: #fff;
$color-gray: #ccc;

$color-light-turquoise: #80e8d1;
$color-light-orange: #fd9f85;
$color-light-red:#ec9fa3;
$color-light-blue: #7ee6fd;
$color-light-green: #88d9a0;
$color-light-purple: #deb2ee;
$color-medium-blue: #4da2bb;

// =============================================
//              Font Properties                      
// =============================================

$font-stack-primary: 'Lato',
sans-serif;
$color-text: #777;
$font-light: 300;
$font-normal: 700;


// =============================================
//              Media Queries                      
// =============================================

$breakpoint-med:768px;

// =============================================
//border-radius curved
// =============================================

$corner-curve: 5px;