/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $corner-curve;
    transition: background-color 0.5s ease-out;
}

.default {
    background-color: $color-secondary;
    @include btn-hover($color-secondary);
}

.error {
    background-color: $color-error;
    @include btn-hover($color-error);
}

.info {
    background-color: $color-info;
    @include btn-hover($color-info);
}

.success {
    background-color: $color-success;
    @include btn-hover($color-success);
}

.warning {
    background-color: $color-warning;
    @include btn-hover($color-warning);
}