/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
    &-avatar {
        @include centered-block;
        margin-top: 10px;
        max-width: 100%;
        max-height: 100%;
    }

    &-frame {
        @include centered-block;
        margin-top: 10px;
        max-width: 100%;
        padding: 13px;
        border: 1px solid $color-gray;
    }

    &-logo {
        @include centered-block;
    }
}